div{
    height: 150px;
    width: 100px;
    border: 3px solid;
}
#b1{
    margin-left: 368px;
    margin-top:39px;
   background-color: rgb(88, 85, 85);
}
#b2{
    margin-left: 478px;
    margin-top:-157px;
   background-color: rgb(36, 62, 45);
}
#b3{
    margin-left: 589px;
    margin-top:-156px;
   background-color: rgb(47, 113, 70);
}
#b4{
    margin-left:699px;
    margin-top:-156px;
   background-color: rgb(39, 197, 94);
}
#b5{
    margin-left: 808px;
    margin-top:-156px;
   background-color: rgb(198, 208, 202);
}
#b6{
    margin-left: 254px;
    margin-top:21px;
   background-color: rgb(212, 151, 9);
}
#b7{
    margin-left: 365px;
    margin-top:-156px;
   background-color: rgb(197, 39, 71);
}
#b8{
    margin-left: 476px;
    margin-top:-156px;
   background-color: rgb(186, 194, 189);
}
#b9{
    margin-left: 586px;
    margin-top:-156px;
   background-color: rgb(197, 145, 203);
}
#b10{
    margin-left: 697px;
    margin-top:-156px;
   background-color: rgb(223, 106, 223);
}
#b11{
    margin-left: 809px;
    margin-top:-156px;
   background-color: rgb(137, 97, 230);
}
#b12{
    margin-left: 920px;
    margin-top:-156px;
   background-color: rgb(131, 132, 142);
}
#b13{
    margin-left: 140px;
    margin-top:28px;
   background-color: rgb(16, 202, 249);
}
#b14{
    margin-left: 252px;
    margin-top:-156px;
   background-color: rgb(72, 235, 129);
}
#b15{
    margin-left: 363px;
    margin-top:-156px;
   background-color: rgb(197, 134, 39);
}
#b16{
    margin-left: 475px;
    margin-top:-156px;
   background-color: rgb(197, 39, 63);
}
#b17{
    margin-left: 587px;
    margin-top:-156px;
   background-color: rgb(149, 85, 105);
}
#b18{
    margin-left: 699px;
    margin-top:-156px;
   background-color: rgb(27, 203, 238);
}
#b19{
    margin-left: 810px;
    margin-top:-156px;
   background-color: rgb(106, 205, 64);
}
#b20{
    margin-left: 921px;
    margin-top:-156px;
   background-color: rgb(70, 84, 137);
}
#b21{
    margin-left: 1032px;
    margin-top:-156px;
   background-color: rgb(100, 43, 88);
}

body{
    background-color: black;
}
